.white { -fx-background-color: #FFFFFF; }
.grey_3 { -fx-background-color: #f7f7f7; }
.grey_5 { -fx-background-color: #f2f2f2; }
.grey_10 { -fx-background-color: #e6e6e6; }
.grey_20 { -fx-background-color: #cccccc; }
.grey_40 { -fx-background-color: #999999; }
.grey_60 { -fx-background-color: #666666; }
.grey_80 { -fx-background-color: #37474F; }
.grey_90 { -fx-background-color: #263238; }
.grey_95 { -fx-background-color: #1a1a1a; }
.grey_100_ { -fx-background-color: #0d0d0d; }

.orange_50 { -fx-background-color: #FFF3E0; }
.orange_100 { -fx-background-color: #FFE0B2; }
.orange_200 { -fx-background-color: #FFCC80; }
.orange_300 { -fx-background-color: #FFB74D; }
.orange_400 { -fx-background-color: #FFA726; }
.orange_500 { -fx-background-color: #FF9800; }
.orange_600 { -fx-background-color: #FB8C00; }
.orange_700 { -fx-background-color: #F57C00; }
.orange_800 { -fx-background-color: #EF6C00; }
.orange_900 { -fx-background-color: #E65100; }
.orange_A100 { -fx-background-color: #FFD180; }
.orange_A200 { -fx-background-color: #FFAB40; }
.orange_A400 { -fx-background-color: #FF9100; }
.orange_A700 { -fx-background-color: #FF6D00; }

.blue_50 { -fx-background-color: #E3F2FD; }
.blue_100 { -fx-background-color: #BBDEFB; }
.blue_200 { -fx-background-color: #90CAF9; }
.blue_300 { -fx-background-color: #64B5F6; }
.blue_400 { -fx-background-color: #42A5F5; }
.blue_500 { -fx-background-color: #2196F3; }
.blue_600 { -fx-background-color: #1E88E5; }
.blue_700 { -fx-background-color: #1976D2; }
.blue_800 { -fx-background-color: #1565C0; }
.blue_900 { -fx-background-color: #0D47A1; }
.blue_A100 { -fx-background-color: #82B1FF; }
.blue_A200 { -fx-background-color: #448AFF; }
.blue_A400 { -fx-background-color: #2979FF; }
.blue_A700 { -fx-background-color: #2962FF; }