.root{
    -folder-color: #FFA726;
}

.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: #ffffff;
}

.split-pane:vertical > .split-pane-divider {
   -fx-background-color: #ffffff;
}

.scroll-pane {
    -fx-background: #ffffff;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.scroll-pane:focused {
    -fx-background-insets: 0;
}

.scroll-pane .corner {
    -fx-background-insets: 0;
}

.folder-icon{
    -fx-text-fill: -folder-color;
    -fx-fill: -folder-color;
}

.folder:hover {
    -fx-background-color: #f7f7f7;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

.folder:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
}

.tree-view, .tree-cell {
    -fx-background-color: #f7f7f7;
    -fx-text-fill: #999999 ;
}
.tree-cell:expanded, .tree-cell:sub-tree-item {
    -fx-background-color: #f7f7f7 ;
}

.tree-cell:selected {
    -fx-font-weight: bold ;
    -fx-text-fill: #999999;
}

.tree-cell {
    -fx-padding: 0.75em 0em 0.75em 0em ;
}
.tree-cell:sub-tree-item {
    -fx-padding: 0.25em ;
    -fx-text-fill: #999999;
}

.lb_app_title{
    -fx-font-size: 1.3em;
    -fx-padding: 12 12 12 20;
    -fx-border-color: #666666;
    -fx-border-width: 2px 0px 0px 0px;
}

/* bread crumb container */

.bread-crumb-container{
    -fx-background-color: #f7f7f7;
    -fx-border-color: #f2f2f2;
    -fx-border-width: 1px 1px 1px 1px;
}
/* Bread Crumb css     -fx-background-image: url("../img/slash.png");*/

bread-crumb-bar {
     -fx-background-color: transparent;
}

.search-container{
        -fx-background-color: #FFFFFF;
        -fx-border-color: #f2f2f2;
        -fx-border-width: 1px 1px 1px 1px;
}

.bread-crumb-bar .button {
    -fx-padding: 3 12 3 20;
    -fx-border-color: null;
    -fx-border-insets: 0;
    -fx-content-display: center;
    -fx-background-position: left center;
    -fx-background-repeat: no-repeat;
    -fx-background-image: url("../images/more_than_15px.png");
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-font-size: 1.3em;
    -fx-shape: null;
}

.bread-crumb-bar .first {
    -fx-background-image: null;
}

.crumb {
    -fx-text-fill: #666666;
}
.crumb:hover,
.crumb:selected,
.crumb:focused
{
    -fx-background-color: rgba(0,0,0,0.1);
    -fx-border-color: null;
    -fx-font-size: 1.11em;
    -fx-text-fill: rgba(0,0,0,0.5);
}
