.root{
    -table-border-color: #f2f2f2;
}

.table-view{
   -fx-background-color: transparent;
}

.table-view:focused{
    -fx-background-color: transparent;
}

/* Spaltenköpfe
    Struktur column-header-background -> column-header */

.table-view .column-header-background{
    -fx-background-color: #fff;
    -fx-padding: 5 5 5 5;
            -fx-border-color: -table-border-color;
            -fx-border-width: 1px 1px 1px 1px;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #000;

}

.table-view .column-header {
    -fx-background-color: #fff;
}

.table-view .table-cell{
    -fx-text-fill: #000;
        -fx-padding: 5 5 5 5;

}

.table-row-cell{
    -fx-background-color:  -table-border-color,  #fff;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color:   -table-border-color,  -table-border-color;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #cccccc;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}

.table-view > .virtual-flow > .scroll-bar:vertical,
.table-view > .virtual-flow > .scroll-bar:vertical > .track,
.table-view > .virtual-flow > .scroll-bar:vertical > .track-background,
.table-view > .virtual-flow > .scroll-bar:horizontal,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track,
.table-view > .virtual-flow > .scroll-bar:horizontal > .track-background {
    -fx-background-color: transparent;
}



.table-view > .virtual-flow > .scroll-bar > .increment-button,
.table-view > .virtual-flow > .scroll-bar > .decrement-button {
    -fx-opacity: 0;
}*